@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #ca9e0c; /*#ca9e0c*/
  background-color: #333;/*#333*/
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  max-height: 10%;
  margin: 0 auto;
  border-bottom: 2px solid #ca9e0c;
  border-left: 2px solid #ca9e0c;
  border-top: 2px solid #ca9e0c ;
  border-right: 2px solid #ca9e0c;
  background-color: #010141 ;
  margin-top: 1%;
  position: relative;
}

.navbar .links {
  margin-right: 16px;
  margin-left: 40px;
  background-color: #010141 ;
}

.navbar .links button {
  margin-left: 12px;
  margin-right: 12px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-top: 2px solid;
  border-right: 2px solid
}

.navbar h2 {
  color: #ca9e0c ;
  background-color: #010141 ;
  margin-bottom: 20px;
  text-align: center;
}

.navbar h1 {
  color: #ca9e0c;
  background-color: #010141 ;
  margin-bottom: 20px;
  text-align: center;
}

.navbar h3 {
  color: #ca9e0c;
  background-color: #010141 ;
  margin-bottom: 20px;
  text-align: center;
}

.navbar .Table {
  margin-right: auto;
  background-color: #010141 ;
  color: #000;
}

.navbar .Table button {
  margin-right: 12px;
  margin-left: 12px;
}

.navbar .MFloor {
  margin-right: 40px;
  background-color: #010141 ;
  color: #000;
}

.navbar .MFloor button {
  margin-right: 12px;
  margin-left: 12px;
}

.navbar a {
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
  padding: 6px;
  background-color: #010141 ;
}
.navbar a:hover {
  color: #e90808;
  background-color: #333 ;
  
}

.navbar button:hover {
  color: #e90808;
  background-color: #333 ;
  
}

.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}


