@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #beca0c;
  background-color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  max-height: 10%;
  margin: 0 auto;
  border-bottom: 2px solid #beca0c;
  border-left: 2px solid #beca0c;
  border-top: 2px solid #beca0c;
  border-right: 2px solid #beca0c;
  background-color: #1d0052;
  margin-top: 1%;
  position: relative;
}

.navbar .links {
  margin-right: 16px;
  margin-left: 40px;
  background-color: #1d0052;
}

.navbar .links button {
  margin-left: 12px;
  margin-right: 12px;
}

.navbar h2 {
  color: #afc202;
  background-color: #1d0052;
  margin-bottom: 20px;
  text-align: center;
}

.navbar h1 {
  color: #afc202;
  background-color: #1d0052;
  margin-bottom: 20px;
  text-align: center;
}

.navbar h3 {
  color: #afc202;
  background-color: #1d0052;
  margin-bottom: 20px;
  text-align: center;
}

.navbar .Table {
  margin-right: auto;
  background-color: #1d0052;
  color: #000;
}

.navbar .Table button {
  margin-right: 12px;
  margin-left: 12px;
}

.navbar .MFloor {
  margin-right: 40px;
  background-color: #1d0052;
  color: #000;
}

.navbar .MFloor button {
  margin-right: 12px;
  margin-left: 12px;
}

.navbar a {
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
  padding: 6px;
  background-color: #1d0052;
}
.navbar a:hover {
  color: #39ca64;
  background-color: #1d0052;
  
}
.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}


